
header, main, footer , body {
  padding-left: 280px;
  padding-right: 40px;
  padding-top: 40px;
}
.tabs .tab a {

	color: #009688;
}
@media only screen and (max-width : 992px) {
  header, main, body,footer {
    padding-left: 0;
  }
}